version: "3.9"
services:
  web:
    build: .
    command: sh -c "gunicorn --bind 0.0.0.0:${PORT:-8080} app:app"
    env_file:
      - .env
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    volumes:
        - ./.vault:/app/.vault
